html {
    background: linear-gradient(5deg, rgb(234, 243, 252), rgb(112, 161, 209));
}

p, ul, table, figcaption {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    color: #101011;
}

q {
    font-family: sans-serif;
    font-size: 0.9em;
    color: #101011;
}
a:visited{
    color: purple;
}
a:hover {
    color: blue;
}
body{
    max-width: 90%;
    margin: 0px 292px 0px 292px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGI2I-nnO7LfTcBBB7J9rLXpm6O4iuS7FlC24efB6IL0uI-uHr807X2w3MWjuUGe1dN7s&usqp=CAU);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
blockquote{
    margin: 0px 35px 0px;
    font-size: 1.2em;
    text-align: justify;
    background-color: rgb(224, 224, 224) ;
    border-left: 3px solid firebrick ;
    padding: 30px 30px 30px 30px;
    margin: 80px 0px 80px 0px;
    font-style: italic;
}
blockquote > q{
    background : rgb(240, 240, 111);
}
em.good{
    text-transform: capitalize ;
    color: green;
}
em.bad{
    text-transform: capitalize ;
    color: red;
}
table, td, th {
    border: 1px solid #ddd;
    padding: 7px;
    text-align: center;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
#table tr:nth-child(even){ /*permet de color les lignes paires*/
    background-color: #f2f2f2;
}
#table tr:nth-child(odd){ /*permet de color les lignes impaires*/
    background-color: #757575;
}
#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1a1919;
    color: white;
}
li.bien {
    background: url(img/bien.png) no-repeat 300px;
    padding: 15px 15px 15px 15px;
}
li.mal {
    background: url(img/mal.png) no-repeat 300px;
    padding: 15px 15px 15px 15px;
}
li.chat {
    background: url(img/chat.png) no-repeat 300px;
    padding: 15px 15px 15px 15px;
}
.first{
    font-weight: bold;
}
figure {
    float: right;
    margin: 15px 15px 15px 15px;
}
